body {
  padding: 0;
  margin: 0;
}
.shop-title {
  margin: 40px;
  position: relative;
  text-align: center;
  font-size: 26px;
}

.menu-container {
  display: flex;
  font-family: "Anton", sans-serif;
  position: sticky;
  width: 100%;
  max-width: 100vw;
  top: 0px;
  z-index: 10;
  background-color: #a7cae4;
  height: 90px;
  align-items: center;
  justify-content: center;
  transition: height 0.4s;
}

.menu-container.shrink {
  height: 50px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%px;
  left: 20px;
  transition: 0.4s;
}

.logo.shrink {
  height: 50px;
  width: 50px;
}

#menu {
  display: flex;
  gap: 1.5rem;
}

.menu-item {
  flex: 1;
  /*border: 1px solid black;*/
  text-align: center;
  list-style-type: none;
  transition: 0.7s;
  font-size: 1.1em;
}

ul {
  padding-inline-start: 0px;
}

.link {
  text-decoration: none;

  color: black;
  padding: 0.5rem;
  white-space: nowrap; /* Add this line to prevent wrapping */
  font-family: "system-ui", "Franklin Gothic Medium", "Arial Narrow",
    "Arial Narrow Bold", sans-serif;
}

.link:hover {
  /* border-bottom: 4px solid black; */
  background-color: rgb(115, 202, 142);
  transition: 0.7s;
}

.icon {
  display: none;
  width: 50px;
}

@media (max-width: 700px) {
  /*adjust px depending on how many menu elements*/
  #menu {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: absolute;
    top: 75px;
    right: 1px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    row-gap: 0px;
    overflow: hidden;
    max-height: 0;
    transition: top 0.4s ease, max-height 0.4s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  }

  #menu.shrink {
    top: 35px;
  }

  #menu.show {
    max-height: 180px;
  }

  .menu-item {
    text-align: center;
    margin: 0 auto;
  }

  .icon {
    /*viser det skjulte hamburger-ikonet*/
    display: block;
    margin-left: 50px;
  }

  .menu-item {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }

  .link {
    margin-left: 15px;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .icon {
    position: absolute;
    right: 60px;
  }
}
